
.rpgui-container {
  position: fixed;
  z-index: 10;
  overflow: show;
}

.framed {
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image.png");
  border-image-repeat: repeat;
  border-image-slice: 6 6 6 6;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;

  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;


  background: url("../assets/rpg/background-image.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

.framed-golden {
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image-golden.png");
  border-image-repeat: repeat;
  border-image-slice: 4 4 4 4;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: url("../assets/rpg/background-image-golden.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

.framed-golden-2 {
  
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image-golden2.png");
  border-image-repeat: repeat;
  border-image-slice: 8 8 8 8;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: url("../assets/rpg/background-image-golden2.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}


.framed-grey {
  position: relative;
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image-grey.png");
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-width: 7px;
  border-width: 7px;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: url("../assets/rpg/background-image-grey.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

.container {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100vh;
}

.container__left {
  width: 35%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container__right {
  width: 65%;
}

.score_box {
  background-color: #f7f7f0;
  padding: 35px;
}

.frame {
  border: 4px solid #353532;
  border-radius: 15px;
}


